* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.grid-container {
    background-color: rgb(199, 199, 199) ;
    display: grid;
   grid-template-columns: 1fr 1fr ;
   grid-template-rows: auto  auto;
   grid-template-areas: "header header"
                        "main1  main2 "
                        "footer footer";


}

.grid-item {
    color: rgb(29, 27, 27);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.grid-item:nth-child(1) {
    background-color: rgb(209, 207, 207);

}
.header {
    grid-area: header;
    height: 10vh;
}
.main1 {
    grid-area: main1;
    height: 80vh;
}
.main2 {
    grid-area: main2;
    height: 80vh;
}
.footer {
    grid-area: footer;
    height: 10vh;
}
.main1 {
    display: flex;
   flex-direction: column;

}
.main2 {
    display: flex;
   flex-direction: column;

}
.newseason {
    width: 384px;
    height: 576px;
    padding: 20px;
}
.newin {
   width: 384px;
    height: 576px;
    padding: 20px;
}
@media (max-width:430px) {

    .grid-container {
    background-color: rgb(199, 199, 199) ;
    display: grid;
   grid-template-columns: 1fr 1fr ;
   grid-template-rows: auto  auto;
   grid-template-areas: "header header"
                        "main1  main1  "
                        "main2  main2  "
                        "footer  footer";


}
}
