//  variables

$color-bg: rgb(199, 199, 199);
$color-text: rgb(29, 27, 27);
$color-light: rgb(209, 207, 207);
$border-radius: 8px;
$font-body: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;