@import "../utilities/variables";
/* reset */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
ul {
  li {
    display: inline-block;
    list-style: none;
    margin: 10px;
  }
}

p {
  color: $color-text;
  margin: 10px;
  text-align: center;
  font-family: $font-body;
  font-size: small;
}

h1, h2 {
  color: $color-text;
  text-align: center;
  margin: 20px;
}

img {
  width: 200px;
  height: 200px;
}

button {
  margin-top: 20px;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}
